* {
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  overflow: hidden;
}

#root {
  overflow: auto;
}

body {
  position: fixed;
  overflow: hidden;
  overscroll-behavior-y: none;
  font-family: 'Amiri', serif;
  color: #333;
  background: black;
  background: radial-gradient(
    circle at bottom center,
    rgba(255, 255, 255, 1) 0%,
    rgba(200, 200, 200, 1) 100%
  );
  /* cursor: url('https://github.com/chenglou/react-motion/raw/master/demos/demo8-draggable-list/cursor.png') 39 39, auto; */
}

.loader {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 900;
}

.header {
  /* pointer-events: none; */
  position: absolute;
  top: 2rem;
  color: #333;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 900;
  font-size: 2em;
  width: 100%;
  text-align: center;
  z-index: 1005;
}

.header:hover {
  text-decoration: underline;
}

.header > span {
  /* padding: 0 3.25em; */
  letter-spacing: 0.1em;
  position: relative;
}

.header > span.active::after {
  /* content: '';
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translate3d(-50%, 0, 0);
  width: 20px;
  height: 2px;
  background: white; */
}

a {
  text-decoration: none !important;
  color: #333;
  font-size: 1rem;
  font-family: 'Josefin Sans', sans-serif !important;
}
a.h2 {
  font-family: 'Josefin Sans', sans-serif !important;
  font-weight: 900 !important;
  font-size: 2em !important;
  text-decoration: none !important;
  color: #333;
  z-index: 1000;
}

.middle {
  /* pointer-events: none; */
  position: absolute;
  bottom: 2.5em;
  left: 50%;
  transform: translate3d(-50%, 0, 0);
  font-size: 2em;
  letter-spacing: 0.5em;
  text-align: center;
  width: 100%;
  z-index: 1000;
}

.middle > h1 {
  line-height: 0.9em;
  font-weight: 100;
}

.middle > h1::after {
  content: '';
  position: absolute;
  bottom: 10px;
  left: calc(50% - 25px);
  width: 50px;
  height: 2px;
  background: #333;
}

.middle > h2 {
  font-size: 1em;
  line-height: 0px;
  font-weight: 100;
  letter-spacing: 0.25em;
}

h2:hover {
  text-decoration: underline;
}

.logo {
  max-width: 50vw;
  min-width: 400px;
  position: relative;
  z-index: 1000;
}

.logo:hover {
  text-decoration: underline;
}

canvas {
  z-index: 1;
  position: relative;
  pointer-events: none;
  top: -100px;
}
